@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Jost", sans-serif;
}
.container {
  @apply mx-auto max-w-7xl  px-4;
}
.placeholder-white::placeholder {
  color: #ffffff;
  opacity: 1;
}
input[id="numberInput"]::-webkit-outer-spin-button,
input[id="numberInput"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[id="numberInput"] {
  -moz-appearance: textfield;
}

.btn-black {
  @apply bg-blackL  border-black shadow-lg shadow-slate-600/50 hover:text-black hover:border-0 hover:bg-white text-white;
}

.h1cart {
  @apply lg:text-4xl text-2xl font-medium tracking-[1px] mb-9;
}

.dashed-line {
  border-top: 2px dashed #ccc;
  width: 100%;
}
